{% load static %}

<title>
    {% block title %}
        Info 159 Annotation
    {% endblock %}
</title>

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'annotate/style.css' %}">

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
{% endblock %}

{% block heading %}
    <h1 class="heading">Reddit productivity | Info 159 Annotation</h1>
{% endblock %}

{% block content %}
    <div class="container">
        Select an annotation split:
        <br><br>

        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="submit-button" name="annotation_split" value="full">Full</button>
            <br><br>
            <button type="submit" class="submit-button" name="annotation_split" value="exploration">Exploration</button>
            <br><br>
            <button type="submit" class="submit-button" name="annotation_split" value="evaluation">Evaluation</button>
        </form>
        <br><br>

        <hr>
        <br><br>

        <form action="{% url 'aggregate' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="submit-button">View past annotations</button>
            <br><br>
        </form>
    </div>
{% endblock %}
