{% for comment in comments %}
    <div class="details">
        <div class="details-title">
            Submission title
        </div>
        {{ comment.submission_title | safe }}
    </div>
    <br><br>

    <div class="details">
        <div class="details-title">
            Comment parent context
        </div>
        {{ comment.comment_parent | safe }}
    </div>
    <br><br>

    <div class="details">
        <div class="details-title">
            Comment
        </div>
        {{ comment.comment_body | safe }}
    </div>
    <br><br>

    {% if comment.annotation_split %}
        <div class="details">
            <div class="details-title">
                Annotation split
            </div>
            {{ comment.annotation_split }}
        </div>
        <br><br>
    {% endif %}

    {% if comment.score_given %}
        <div class="details">
            <div class="details-title">
                Score given
            </div>
            {{ comment.score_given }}
        </div>
        <br><br>
    {% endif %}
{% endfor %}
